<div class="max-w-xs rounded-xl overflow-hidden shadow-lg bg-gray-900 text-white flex flex-col h-full border border-gray-700">

  <div class="h-56 flex justify-center items-center bg-gray-800">
    <img [src]="personaje.image" [alt]="personaje.name" class="w-full h-full object-contain border-4 border-gray-700">
  </div>

  <div class="px-6 py-4 flex-1">

    <h2 class="font-semibold text-2xl mb-4 text-center text-white">{{ personaje.name }}</h2>

    <div class="text-gray-400 space-y-2">
      <p><strong>Raza:</strong> {{ personaje.race }}</p>
      <p><strong>Ki:</strong> {{ personaje.ki }}</p>
      <p><strong>Afiliación:</strong> {{ personaje.affiliation }}</p>
    </div>

    <div class="h-32 overflow-y-auto text-gray-300 mt-4">
      <p>{{ personaje.description }}</p>
    </div>

    <div class="mt-6 flex justify-center gap-4">
      <button 
        class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition-transform transform hover:scale-105 flex-1" 
        (click)="handleTransformaciones()">Transformaciones</button>
      <button 
        class="px-4 py-2 bg-green-600 text-white rounded-lg shadow-md hover:bg-green-700 transition-transform transform hover:scale-105 flex-1" 
        (click)="handleOrigen()">Origen</button>
    </div>
  </div>
</div>
